* {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border-color: transparent;
    color: rgb(79, 52, 95);
}

button:hover {
    color: rgb(143, 106, 168);
}


/* the main div in which the rest of the divs are nested */
.outer {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/* top header that shows highscore and time remaining */
.top-head {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

/* p element in div "top" class */
#timer p {
    float: right;
};

/* inner div */
.page-content {
    width: 80%;
    margin-top: 50px;
    margin: 50px auto;
    text-align: center;
};


.questions {
    width: 40%;
    margin 10px auto;
    /* list-style-type: decimal;
    list-style-position: inside; */
};

#question-btns {
    display: block;
    color: white;
    background-color: rgb(122, 74, 169);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    width: 50%;
};

.highscore-btn,
#startBtn {
    background-color: rgb(122, 74, 169);
    border: 1px
    border-radius: 10px;
    padding: 5px;
};
